.tt-grid-css {
  --resize-width: 10px;

  @apply absolute top-0 right-0 bottom-0 left-0 overflow-hidden;
  &__stub-head {
    @apply absolute top-0 left-0 z-40 bg-slate-200;
  }
  &__prevent-pointer-events-cover {
    @apply absolute top-0 right-0 bottom-0 left-0 z-50;
    user-select: none;
  }
  &__scroll {
    @apply absolute top-0 right-0 bottom-0 left-0 z-10 overflow-auto;
  }
  &__wrapper {
    @apply absolute min-h-full;
  }
  &__head {
    @apply sticky top-0 z-30 bg-slate-200;
  }
  &__side {
    @apply sticky left-0 z-20 bg-slate-200;
  }
  &__side-resize {
    @apply absolute top-0 bottom-0 left-[calc(var(--resize-width))/2] w-[var(--resize-width)] z-40 cursor-col-resize;
    user-select: none;
  }
  &__body {
    @apply absolute top-0 right-0 left-0 z-10;
  }
  &__body-inner {
    @apply absolute top-0 left-0 flex;
  }
}
